<template>
    <div>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    Chat Filter Demo
                </a>
            </div>
        </nav>

        <section class="section">
            <div class="container">
                <div class="field">
                    <div class="file has-name">
                        <label class="file-label">
                            <input class="file-input" ref="fileInput" @change="handleFileChange" type="file"
                                   name="file">
                            <span class="file-cta">
                              <span class="file-icon">
                                <i class="fas fa-upload"></i>
                              </span>
                              <span class="file-label">
                                Choose a file…
                              </span>
                            </span>
                            <span class="file-name">
                              {{ fileName }}
                            </span>
                        </label>
                    </div>
                </div>

                <div class="field">
                    <button type="submit" @click="submitForm" class="button is-primary">Submit</button>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'app',
    data () {
      return {
        fileName: '',
        file: null
      }
    },
    methods: {
      handleFileChange () {
        const file = this.$refs.fileInput.files[0]
        this.file = file
        this.fileName = file.name
      },
      async submitForm () {
        if (this.file === null) {
          window.alert('file must be present')
          return
        }

        const form = new FormData()
        form.append('file', this.file)

        try {
          await axios.post('http://localhost:3000/profane', form, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
        } catch (e) {
          console.log(e)
          window.alert('failed to upload file')
          return
        }

        window.alert('file upload success')
      }
    }
  }
</script>

<style lang="scss">
    @import "~bulma";
</style>